<div class="footer">
  <div class="footer-links">
    <a href="#"><%= icon('fab', 'github-alt') %></a>
    <a href="#"><%= icon('fab', 'instagram') %></a>
    <a href="#"><%= icon('fab', 'facebook-f') %></a>
    <a href="#"><%= icon('fab', 'twitter') %></a>
    <a href="#"><%= icon('fab', 'linkedin-in') %></a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
