<div class="container">
  <div class="row">
    <div class="title-box">
      <h1 class="text-center">Select a Worker</h1>
    </div>

    <div class="col-xs-12">
      <form class="search" action="/workers" accept-charset="UTF-8" method="get">
        <input type="text" placeholder="Search.." name="query" id="query" class="form-control">
        <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <div class="card"> -->
        <ul class="list-unstyled space-workers">
          <h3>MEDIC</h3>
          <% @workers.each do |worker| %>
            <% if worker.status == "MEDIC" %>
              <li>
                <%= link_to edit_worker_path(worker), class: "edit-button" do %>
                  <i class="fas fa-user-md"></i> | <%= worker.details %> <i class="fas fa-pencil-alt"></i>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <!-- </div> -->
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <div class="card"> -->
        <ul class="list-unstyled space-workers">
          <h3>INTERN</h3>
          <% @workers.each do |worker| %>
            <% if worker.status == "INTERN" %>
              <li>
                <%= link_to edit_worker_path(worker), class: "edit-button" do %>
                  <i class="fas fa-graduation-cap"></i> | <%= worker.details %> <i class="fas fa-pencil-alt"></i>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <!-- </div> -->
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- <div class="card"> -->
        <ul class="list-unstyled space-workers">
          <h3>INTERIM</h3>
          <% @workers.each do |worker| %>
            <% if worker.status == "INTERIM" %>
              <li>
                <%= link_to edit_worker_path(worker), class: "edit-button" do %>
                  <i class="fas fa-notes-medical"></i> | <%= worker.details %> <i class="fas fa-pencil-alt"></i>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <!-- </div> -->
    </div>


  </div>
</div>
